<% breadcrumb :portfolios %>
<section id="sl_portfolio_index">
  <% @portfolios.each do |portfolio| %>
  <article class="media">
    <%=link_to portfolio_path(portfolio),:class=>"pull-left" do %>
    <figure class="image">
      <%= image_tag portfolio.photo.medium_thumb,:alt=>portfolio.title %>
    </figure>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%=link_to portfolio.title,portfolio_path(portfolio),:title=>portfolio.title %></h4>
      <%=link_to portfolio_path(portfolio) do %>
      <%=portfolio.description %>
      <% end %>
      <br />
      <%=link_to portfolio.url,portfolio.url,{:target=>'_blank'} %>
    </div>
    <% if can? :manage, Portfolio %>
      <%= link_to t(:link_edit), edit_portfolio_path(portfolio) %> &nbsp; | &nbsp; <%= link_to t(:link_delete), portfolio, method: :delete, data: { confirm: t(:delete_confirm)} %>
    <% end %>
  </article>
  <% end %>
  <div id="sl_bottom_menu">
  <% if can? :create, Portfolio %>
    <%= link_to t(:link_new), new_portfolio_path,:rel=>"nofollow" %>
  <% end %>
  <%= paginate @portfolios %>
  </div>
</section>