<% breadcrumb :intro %>
<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<section id="sl_intro_index">
	<% if @user %>
  <article id="intro_main_content" itemscope itemtype="http://schema.org/Person">
    <% if @user.photo? %>	
    <div id="sl_intro_left">
      <%=link_to image_tag(@user_images[0].photo.large_thumb,:class=>'img-responsive',:alt=>@user.name),@user_images[0].photo.url,:class=>'simple_image',:title=>@user.name, :itemprop=>"image" %>
    </div>
    <% end %>
    <div id="sl_intro_right">
      <h3><% if @user.alternate_name? %><%=@user.alternate_name %><% else %><%=@user.name %><% end %>  극비 신상공개!!!</h3>
      <dl>
        <dt>이름</dt>
        <dd itemprop="name"><%=@user.name %> <% if @user.alternate_name? %>,  보통 <span itemprop="additionalName"><%=@user.alternate_name %></span>로 불리운다<% end %></dd>
        <% if @user.gender? %>
        <dt>성별</dt>
        <dd itemprop="gender"><%=@user.gender %></dd>
        <% end %>
        <% if @user.birth_date? %>
        <dt>생일</dt>
        <dd itemprop="birthDate" datetime="<%=user.birthdate %>"><%=@user.birthdate %></dd>
        <% end %>
        <% if @user.job_title? %>
        <dt>직업</dt>
        <dd itemprop="jobTitle"><%=@user.job_title %></dd>
        <% end %>      
        <dt>키</dt>
        <dd>180cm</dd>
        <dt>몸무게</dt>
        <dd>90kg</dd>
        <dt>좋아하는것</dt>
        <dd>개, 아이들, 철도, 프로그래밍, 리눅스, 중국요리</dd>
        <dt>싫어하는것</dt>
        <dd>자동차, 학교, 군대, 윈도우, 주한미군</dd>
      </dl>
      <% if @user.url? %>
      <span class="none" itemprop="url"><%=@user.url %></span>
      <% end %>
      <% if can?(:create, @user) %>
        <%= link_to t(:link_new), edit_user_registration_path %>
      <% end %>
    </div>
  </article>
  <% else %>
  <p>사용자가 없습니다.</p>
  <% end %>
  <div id="sl_gallery_slide">
    <a class="prev browse left hidden-xs"></a>
    <div class="scrollable">
    <% unless @user_images.empty? %>
    <div class="items">
      <% @user_images.each_slice(6) do |user_image| %>
      <ul class="item">
        <% user_image.each_with_index do |user_image,index| %>
        <li><%=link_to image_tag(user_image.photo.medium_thumb,:alt=>user_image.alt),intro_index_path(user_image),:title=>user_image.alt %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <% else %>
    <ul>
      <li><%=t(:no_data) %></li>
    </ul>
    <% end %>
    </div>
  <a class="next browse right hidden-xs"></a>
  </div>
  <% if can?(:create, @user_images) %>
  <%= link_to t(:link_new), new_user_photo_path %>
  <% end %>
</section>